<%- include('header') -%>

<div class="pname1"></div>
<div class="pname2"></div>

<div class='board'>
    <% for(let i = 1; i < 8; i++){ %>
        <% for(let j = 1; j < 8; j++){ %>
            <div class='field' data-fieldid='<%= (i - 1) * 7 + j %>' style='top: calc(<%= i - 1 %> * 100%/7); left: calc(<%= j - 1 %> * 100%/7);'>
                <div class="filler"></div>
            </div>
        <% } %>
    <% } %>
</div>

<script>
    const username = '<%= username %>';
    const roomId = '<%= roomId %>';
</script>
<script src='/clientFunctions.js'></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/clientSockets.js'></script>

<%- include('footer') -%>